<header class="site-header">
  <div class="wrap header-top">
    <a href="index.html" class="logo"><img class="logo-img" src="img/logo-ohnehg.png" alt="ATELIER HAIR TATTOO"></a>
    <a href="https://www.treatwell.ch/ort/stb-atelier-hair-tattoo/" target="_blank" rel="noopener" class="btn btn-book">Jetzt buchen</a>
  </div>
  <div class="nav-row">
    <div class="wrap nav-inner">
      <ul class="nav-links" id="navLinks">
        <li><a href="index.html" data-page="index">Start</a></li>
        <li><a href="about-us.html" data-page="about-us">Über uns</a></li>
        <li><a href="services.html" data-page="services">Leistungen</a></li>
        <li><a href="tattoo.html" data-page="tattoo">Tattoo</a></li>
        <li><a href="beauty.html" data-page="beauty">Beauty</a></li>
        <li><a href="products.html" data-page="products">Produkte</a></li>
      </ul>
      <button class="burger" id="burger" aria-label="Menu"><span></span><span></span><span></span></button>
    </div>
  </div>
</header>
